node_modules
/.cache
/dist
*.log
/public
*packages/*/lib/**/*.js
*packages/*/pub/**/*.js
*packages/*/cli/**/*.js
*packages/*/types/**/*.js
*packages/pvm/notify-scripts/**/*.js
*packages/*/lib/**/*.d.ts
*packages/*/cli/**/*.d.ts
*packages/*/pub/**/*.d.ts
*packages/*/types/**/*.d.ts
packages/pvm/notify-scripts/**/*.d.ts
/declarations
.idea/
*.js.map

.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

ssh-deploy-*

.docusaurus
