name: 'test repos cleanup'

on:
  schedule:
    - cron: '10 * * * *'

jobs:
  github-test-cleanup:
    runs-on: ubuntu-latest
    env:
      PVM_LL: silly
      GITHUB_TOKEN: ${{ secrets.TINKOFF_BOT_PAT }}
      PVM_GITHUB_TEST_REPO_TOKEN: ${{ secrets.PVM_GITHUB_TEST_REPO_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - run: node scripts/github-test-repos-cleanup.js
