name: 'release'

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      PVM_LL: silly
      GITHUB_TOKEN: ${{ secrets.TINKOFF_BOT_PAT }}
      PVM_SLACK_TOKEN: ${{ secrets.PVM_SLACK_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      PVM_MATTERMOST_URL: ${{ secrets.PVM_MATTERMOST_URL }}
      PVM_MATTERMOST_TOKEN: ${{ secrets.PVM_MATTERMOST_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 150
      - uses: ./.github/actions/setup
      - run: yarn build
      - run: node scripts/remark-readme.js
      - run: yarn pvm publish
  docs:
    runs-on: ubuntu-latest
    container: mshipov/plantuml:0.0.1
    needs: release
    env:
      PVM_LL: silly
      GITHUB_TOKEN: ${{ secrets.TINKOFF_BOT_PAT }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: ./.github/actions/build-docs
      - uses: lewagon/wait-on-check-action@v1.0.0
        with:
          ref: ${{ github.ref }}
          check-name: 'pvm update'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
          force_orphan: true
